/* [ Fonts ] */

@font-face {
    font-family: 'Jackeyfont';
    src: url('jackeyfont.woff');
}

.J { font-family: 'Jackeyfont'; }

@font-face {
    font-family: 'UVGA';
    src: url('UVGA16.woff');
}

.UVGA { font-family: 'UVGA'; }

/* [ Palette ] */

:root {
    --screenBlack:  #111111;
    --offWhite:     #f3f3f3;
}

/* [ Element Formatting ] */

* { box-sizing: border-box; }

html {
    font-size: 1.125vh;
    line-height: 3vh;
}

h1, h2 {
    font-family: 'JackeyFont';
    text-rendering: geometricPrecision;
}

h1 { font-size: 4vh; }

h2 {
    background-color: var(--offWhite);
    color: var(--screenBlack);
    font-size: 2.1vh;
}

h2:before, h2:after { content: '\00a0'; }

p, a {
    font-family: 'UVGA';
    text-rendering: geometricPrecision;
}

h1, p, a { margin: 0 0 1vh 0; }

a {
    position: relative;
    color: inherit;
    text-decoration: inherit;
}

ul {
    list-style-type: "> ";
    font-family: 'UVGA';
    margin-left: 0;
}

li { margin: 0; }

a:hover {
    background-color: var(--offWhite);
    color: var(--screenBlack);
}

a[explanation]:hover:after {
    content: attr(explanation);
    position: absolute;
    width: 40ch;
    padding: 0.5vh 1vh 0.5vh 1vh;
    color: var(--offWhite);
    background-color: var(--screenBlack);
    border: 0.3rem solid var(--offWhite);
    box-sizing: border-box;
    left: 75%;
    top: 100%;
    z-index: 100;
}

body {
    background: var(--screenBlack);
    color: var(--offWhite);
    cursor: crosshair;
    box-sizing: border-box;
    max-height: calc(100vh - 4vh);
    margin: 2vh;
    overflow-y: hidden;
    overflow-x: auto;
    display: block;
    font-size: 1.8vh;

    /* Pixel-Perfect Image Rendering */
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

/* [ Search Box ] */

input[type="search"] {
    font-family: 'UVGA';
    background-color: var(--screenBlack);
    color: var(--offWhite);
    border: 0.3rem solid var(--offWhite);
    padding: 0.5vh 1vh 0.5vh 1vh;
    font-size: 1.8vh;
    width: 100%;
    box-sizing: border-box;
}

input[type="search"]::placeholder {
    color: var(--offWhite);
    opacity: 0.5;
}

input[type="search"]:focus {
    outline: none;
    border-color: var(--offWhite);
}

input[type="search"]:hover {
    background-color: var(--offWhite);
    color: var(--screenBlack);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* For Firefox */
input[type="search"]::-moz-search-clear-button {
    display: none;
}

/* For Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
}

section {
    width: 60ch;
    padding: 1vh;
    margin-right: 2vh;
}

::selection {
    background-color: var(--offWhite);
    color: var(--screenBlack);
}

.highlight {
    background-color: var(--offWhite);
    color: var(--screenBlack);
}

.highlight:before, .highlight:after { content: '\00a0'; }

/* [ Basic Formatting ] */

.modal:not(:target) { display: none; }

.flex {
    flex-flow: column wrap;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}  

/* [ Conditional Formatting ] */

@media (pointer: coarse) {

    body { overflow-y: auto; }

    h1, h2 { text-align: center;}
    
    div {
        width: 100%;
        max-width: 100%;
    }

    .flex { display: block; }
}
